# ===============================
# System files
.DS_Store
Thumbs.db
.Trashes

# ===============================
# Environment
.env

# ===============================
# Logs & cache
storage/log/*
!storage/log/.gitkeep

storage/sessions/*
!storage/sessions/.gitkeep

resources/cache/views/*
!resources/cache/views/.gitkeep

*.log

#===============================
/public/assets/*
!/public/assets/.gitkeep

# ===============================
# SQLite
database.sqlite

# ===============================
# Composer vendor
/vendor/

# ===============================
# Preserve empty dirs (keep folders, ignore contents)
!storage/
!storage/log/
!storage/sessions/
!resources/cache/views/

# ===============================
# IDE/editor settings
.idea/
.vscode/
*.sublime-workspace
*.sublime-project

# ===============================
# Docker
docker-compose.yml
docker-compose.*.yml
Dockerfile
docker/
.docker/
.dockerignore
