<IfModule mod_rewrite.c>
    RewriteEngine On

    # Blokir akses ke session
    RewriteRule ^storage/sessions/ - [F,L]

    # Jika bukan file atau folder, arahkan ke index.php
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^ index.php [QSA,L]

    ErrorDocument 404 /index.php
</IfModule>